@font-face {
  font-family: 'SFPD-Regular';
  src: url('./assets/fonts/SFPRODISPLAYREGULAR.OTF') format('otf');
}
@font-face {
  font-family: 'SFPT-Regular';
  src: url('./assets/fonts/SFPROTEXTREGULAR.otf') format('otf');
}

.App {
  display: flex;
  flex-direction: column;
  font-family: SFPT-Regular, Arial, Helvetica, sans-serif;
  /* overflow: hidden; */
}